html, #root {
  background-color: #282c34;
}

.row {
  margin-bottom: 10px;
}

a.app-link {
   color: #d3d8e3;
}

a.app-link:hover {
  color: #a2a9b8;
  text-decoration: none;
}

.container-fluid {
  color: white;
  text-align: center;
  padding-top: 40px;
}

.flex-container {
  color: white;
  text-align: center;
  padding-top: 40px;
}

.container {
  color: white;
  text-align: left;
  padding-top: 40px;
}

.tictactoe-shops-title {
  color: white;
}

.tictactoe-container {
  width: 400px;
  min-width: 300px;
  background-color: #e9edf7;
  border-radius: 10px;
  color: #282c34;
  font-size: calc(10px + 1.0vmin);
}

.tictactoe-container h3 {
  font-size: calc(10px + 2vmin);
}

.subtitle-container {
  font-size: calc(10px + 0.8vmin);
  color: #596273;
  margin-bottom: 10px;
}

.tictactoe-body {
  flex: 1;
  margin-bottom: 10px;
}

.tictactoe-footer {
  padding-top: 8px;
  margin-top: 8px;
  border-top: 1px solid #282c34;
}

.tictactoe-footer .btn {
  margin: 5px 5px;
}

.tictactoe-cells-count-input {
  display: inline !important;
  max-width: 100px;
  margin-left: 10px;
}

@media only screen and (max-width: 992px) {
  .tictactoe-container {
    width: 300px;
  }
}

@media only screen and (max-width: 576px) {
  .tictactoe-container {
    width: 80%;
  }
}